<%= form_for(@task, url: task_path(@task)) do |f| %>
    <div>
        <%= f.label :タイトル %><br>
        <%= f.text_field :task_name, autofocus: true, :placeholder =>"#{@task.task_name}" %>
    </div>
    <div>
        <%= f.label :内容 %><br>
        <%= f.text_area :task_det, :placeholder =>"#{@task.task_det}" %>
    </div>
    <div><%= f.submit "更新する" %></div>
<% end %>