<%= form_for([@task.team, @task], url: team_task_path(@task.team, @task)) do |f| %>
  <div>
    <%= f.label :タイトル %><br>
    <%= f.text_field :task_name, autofocus: true, placeholder: @task.task_name %>
  </div>
  <div>
    <%= f.label :内容 %><br>
    <%= f.text_area :task_det, placeholder: @task.task_det %>
  </div>
  <div><%= f.submit "更新する" %></div>
<% end %>