<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <title>Your Page Title</title>
</head>
<body>

    <div class="container">
        <div class="task-list" id="tasks">
            <% @tasks.each do |e| %>
                <turbo-frame id="<%= dom_id(e) %>">
                    <div class="task">
                        <p>
                            <%= e.task_name %>
                            <br>
                            タスク詳細
                            <br>
                            <%= e.task_det %>
                        </p>
                        <hr>
                        <%= link_to "編集", edit_task_path(e) %>
                        <%= link_to "削除", task_path(e), data: { turbo_method: :delete, turbo_confirm: '本当に削除していいですか？' }, class: "delete" %>
                    </div>
                </turbo-frame>
            <% end %>
<<<<<<< HEAD
        </div>
        <div class="taskcover">
            <div class="addtask">
                <%= form_for @task, url: {action: :create} do |f| %>
                    <%= f.label :task_name, 'タスク名' %>
                    <%= f.text_field :task_name %>
                    </br>
                    <%= f.label :task_det, 'タスク詳細' %>
                    <%= f.text_field :task_det %></br>
                    <%= f.submit 'タスクの追加' %>
                <% end %>
            </div>
=======

            <%= form_for @task, url: {action: :create}, remote: true do |f| %>
                <div class="task">
                    <%= f.label :task_name, 'タスク名' %>
                    <%= f.text_field :task_name %>
                    <br>
                    <%= f.label :task_det, 'タスク詳細' %>
                    <%= f.text_field :task_det %>
                    <br>
                    <%= f.label :team_id, 'チームID' %>
                    <%= f.text_field :team_id %>
                    <%= f.submit 'タスクの追加' %>
                </div>
            <% end %>
>>>>>>> 112
        </div>
    </div>

    <%= link_to "Logout", root_path, method: :delete %>

</body>
</html>
<<<<<<< HEAD
<div class="logout">
    <%= link_to "Logout", root_path, method: :delete %>
</div>
=======
>>>>>>> 112
