<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="application.css">
    <title>Your Page Title</title>
</head>
<body>

    <div class="container">
        <div class="task-list">
            <% @tasks.each do |e| %>
                <p>
                    <%= e.task_name %>
                    </br>
                    タスク詳細
                    </br>
                    <%= e.task_det %></br>
                    <%= link_to "編集", edit_task_path(e) %>
                    <%= link_to "削除", task_path(e), data: { turbo_method: :delete, turbo_confirm: '本当に削除していいですか？' }, class: "delete" %>
                </p>
                
                <hr>
                
            <% end %>
        
            <%= form_for @task, url: {action: :create} do |f| %>
                <%= f.label :task_name, 'タスク名' %>
                <%= f.text_field :task_name %>
                </br>
                <%= f.label :task_det, 'タスク詳細' %>
                <%= f.text_field :task_det %></br>
                <%= f.submit 'タスクの追加' %>
            <% end %>
        </div>
    </div>
    
</body>
</html>
<div class="logout">
    <%= link_to "Logout", root_path, method: :delete %>
</div>